/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

// fonts
$base-font-size: 16;
$base-font: 'Prompt', sans-serif;
$italic-font: 'Prompt', sans-serif;



// color
$dark-gray: #333;
$white: #fff;
$black: #000;
$green: #136b38;
$mid-gray: #797979;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: #f2f2f2;
$text-color: $mid-gray;
$heading-color: $dark-gray;

//#F7931d